<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MSSQLConnectionString" connectionString="Data Source=SHADOW-PC;Initial Catalog=FlightProject;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="HOUR_VALUE" value="24"/>
    <add key="MINUTE_VALUE" value="0"/>
    <add key="SECOND_VALUE" value="0"/>
  </appSettings>
</configuration>